{% extends "homepage/main_template.html" %}

{% block content %}

    <div class="page-header">
        <h1>Reset Password</h1>
    </div>

    <form action="" method="post">{% csrf_token %}
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <div class="form-group">
                <label>Enter Email:</label>
                <input type="text" class="form-control" name="email">
            </div>

            <input type="submit" class="btn btn-success" value="Reset password" />
    </form>

{% endblock %}