<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load staticfiles %}

    <title>
        {% block title %}Page Title{% endblock %}
    </title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="biopv" name="keywords">
    <meta content="Bankable and Interoperable Solar PhotoVoltaic" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'homepage/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Required JavaScript Libraries -->
    <script src="{% static 'homepage/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'homepage/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homepage/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'homepage/lib/stellar/stellar.min.js' %}"></script>
    <script src="{% static 'homepage/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'homepage/lib/counterup/counterup.min.js' %}"></script>
    {#        <script src="{% static 'homepage/contactform/contactform.js' %}"></script>#}

    <!-- Template Specisifc Custom Javascript File -->
    <script src="{% static 'homepage/js/custom.js' %}"></script>

    <!--Custom scripts demo background & colour switcher - OPTIONAL -->
    <script src="{% static 'homepage/js/color-switcher.js' %}"></script>

    <!--Contactform script -->
    {#        <script src="{% static 'homepage/contactform/contactform.js' %}"></script>#}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Libraries CSS Files -->
    <link href="{% static 'homepage/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/lib/owlcarousel/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/lib/owlcarousel/owl.theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/lib/owlcarousel/owl.transitions.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Main Stylesheet File -->
    <link href="{% static 'homepage/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/style.css' %}" rel="stylesheet">

    <!--Your custom colour override - predefined colours are: colour-blue.css, colour-green.css, colour-lavander.css, orange is default-->
    <link href="#" id="colour-scheme" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Flexor
      Theme URL: https://bootstrapmade.com/flexor-free-multipurpose-bootstrap-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->

</head>

<body class="page-index has-hero">
<!--Change the background class to alter background image, options are: benches, boots, buildings, city, metro -->
<div id="background-wrapper" class="city" data-stellar-background-ratio="0.1">

    <!-- ======== @Region: #navigation ======== -->
    <div id="navigation" class="wrapper">
        <!--Hidden Header Region-->
        <div class="header-hidden collapse">
            <div class="header-hidden-inner container">
                <div class="row">
                    <div class="col-md-6">
                        <h3>About Us</h3>
                        <p>
                            BioPV provides Performance Ratings and Certification of wide range of PhotoVoltaic
                            Components.
                        </p>
                        <a href="{% url 'homepage:about_us' %}" class="btn btn-more"><i class="fa fa-plus"></i> Learn more</a>
                    </div>
                    <div class="col-md-6">
                        <h3>Contact Us</h3>
                        <address>
                            <strong>Arizona State University - Photovoltaic Reliability Laboratory</strong>
                            <br><abbr title="Address"><i class="fa fa-map-pin"></i></abbr>
                            7349 Innovation Way S, Mesa, AZ 85212.
                            <br>
                            <abbr title="Phone"><i class="fa fa-phone"></i></abbr> +1 (480) 727-1220
                            <br>
                            <abbr title="Email"><i class="fa fa-paper-plane"></i></abbr> kuitche@asu.edu
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <!--Header & navbar-branding region-->
        <div class="header">
            <div class="header-inner container">
                <div class="row">
                    <div class="col-md-8">
                        <!--navbar-branding/logo - hidden image tag & site name so things like Facebook to pick up, actual logo set via CSS for flexibility -->
                        <a class="navbar-brand" href="{% url 'homepage:index' %}" title="Home">
                            <h1 class="hidden">
                                <img src="{% static 'homepage/images/logo.png' %}" alt="BioPV Logo">
                                BioPV
                            </h1>
                        </a>
                        <div class="navbar-slogan">
                            Bankable and Interoperable<br>Solar PhotoVoltaic
                        </div>
                    </div>

                    <!--header rightside-->
                    <div class="col-md-4">
                        <!--user menu-->
                        <ul class="list-inline user-menu pull-right">
                            {% if user.is_authenticated %}
                                <li class="hidden-xs">
                                    Hello, {{ user.first_name }}
                                </li>
                                <li class="hidden-xs">
                                    <i class="fa fa-edit text-primary"></i> <a href="{% url 'users:profile'%}?next={{request.path}}" class="text-uppercase">Profile</a>
                                </li>
                                <li class="hidden-xs">
                                    <i class="fa fa-sign-out text-primary"></i> <a href="{% url 'logout'%}?next={{request.path}}" class="text-uppercase">Logout</a>
                                </li>
                            {% else %}
                                <li class="hidden-xs">
                                    <i class="fa fa-user-plus text-primary"></i> <a href="{% url 'users:register' %}" class="text-uppercase">Register</a>
                                </li>
                                <li class="hidden-xs">
                                    <i class="fa fa-sign-in text-primary"></i> <a href="{% url 'login'%}?next={{request.path}}" class="text-uppercase">Login</a>
                                </li>
                            {% endif %}
                            <li>
                                <a class="btn btn-primary btn-hh-trigger" role="button" data-toggle="collapse" data-target=".header-hidden">Open</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="navbar navbar-default">
                <!--mobile collapse menu button-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--social media icons-->
                <div class="navbar-text social-media social-media-inline pull-right">
                    <a href="https://pvreliability.asu.edu/" target="_blank"><i class="fa fa-globe"></i></a>
                    <a href="https://www.facebook.com/PVReliability/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/company-beta/10620747/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.youtube.com/user/ASU" target="_blank"><i class="fa fa-youtube"></i></a>
                </div>

                <!--everything within this div is collapsed on mobile-->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" id="main-menu">
                        <li class="icon-link"><a href="{% url 'homepage:index' %}"><i class="fa fa-home"></i></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">PV Rating<b class="caret"></b></a>
                            <!-- Dropdown Menu -->
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'ratings:ratings_search' %}" tabindex="-1" class="menu-item">Name Plate Search</a></li>
                                <li><a href="{% url 'ratings:ratings_compare' %}" tabindex="-1" class="menu-item">Compare Ratings</a></li>
                                <li><a href="{% url 'ratings:ratings_reporting' %}" tabindex="-1" class="menu-item">Data Reporting</a></li>
                                <li><a href="{% url 'ratings:ratings_add_module' %}" tabindex="-1" class="menu-item">Add Module Type</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">PV Performance<b class="caret"></b></a>
                            <!-- Dropdown Menu -->
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'ratings:ratings_search' %}" tabindex="-1" class="menu-item">PV Certification</a></li>
                            </ul>
                        </li>
                        <li><a href="#">PV Tutorials Us</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<b class="caret"></b></a>
                            <!-- Dropdown Menu -->
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'homepage:about_us' %}" tabindex="-1" class="menu-item">About BioPV</a></li>
                                <li><a href="{% url 'homepage:our_team' %}" tabindex="-1" class="menu-item">Our Team</a></li>
                                <li><a href="{% url 'homepage:contact_us' %}" tabindex="-1" class="menu-item">Contact Us</a></li>
                            </ul>
                        </li>

                        {#                            <li class="dropdown dropdown-mm">#}
                        {#                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mega Menu<b class="caret"></b></a>#}
                        {#                                <!-- Dropdown Menu -->#}
                        {#                                <ul class="dropdown-menu dropdown-menu-mm dropdown-menu-persist">#}
                        {#                                    <li class="row">#}
                        {#                                        <ul class="col-md-6">#}
                        {#                                            <li class="dropdown-header">Websites and Apps</li>#}
                        {#                                            <li><a href="#">Analysis and Planning</a></li>#}
                        {#                                            <li><a href="#">User Experience / Information Architecture</a></li>#}
                        {#                                            <li><a href="#">User Interface Design / UI Design</a></li>#}
                        {#                                            <li><a href="#">Code &amp; Development / Implementation &amp; Support</a></li>#}
                        {#                                        </ul>#}
                        {#                                        <ul class="col-md-6">#}
                        {#                                            <li class="dropdown-header">Enterprise solutions</li>#}
                        {#                                            <li><a href="#">Business Analysis</a></li>#}
                        {#                                            <li><a href="#">Custom UX Consulting</a></li>#}
                        {#                                            <li><a href="#">Quality Assurance</a></li>#}
                        {#                                        </ul>#}
                        {#                                    </li>#}
                        {#                                    <li class="dropdown-footer">#}
                        {#                                        <div class="row">#}
                        {#                                            <div class="col-md-7">Like the lite version? <strong>Get the extended version of Flexor.</strong></div>#}
                        {#                                            <div class="col-md-5">#}
                        {#                                                <a href="https://bootstrapmade.com" class="btn btn-more btn-lg pull-right"><i class="fa fa-cloud-download"></i> Get It Now</a>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </li>#}
                        {#                                </ul>#}
                        {#                            </li>#}
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>
    </div>


    {% block content %}
        Page Body
    {% endblock %}

    <footer class="block block-bg-grey-dark" data-stellar-background-ratio="0.4">

        <div class="container">

            <div class="row">
                <div class="col-md-7">
                    <a href="#" data-toggle="modal" data-target="#copyrightModal">Copyright © BioPV</a>
                    <div class="credits">
                    </div>
                </div>
                <div class="col-md-5">
                    <ul class="list-inline pull-right">
                        <li><a href="#" data-toggle="modal" data-target="#termsModal">Terms & Conditions</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#privacyModal">Privacy Policy</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#contactModal">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <a href="#top" class="scrolltop">Top</a>

        </div>

    </footer>

{% include 'homepage/footer_template.html' %}

</body>
</html>